.fab-container
  position: absolute
  bottom: 8rem
  right: 4rem

.question-order
  display: flex
  justify-content: center
  text-align: center

.questionOrderButton
  margin: 0
  width: 100%

.question-title
  max-width: 50vw
  white-space: normal
  word-break: break-all
  font-weight: 700
  font-size: 1rem
.option-item
  display: flex
  align-items: center