*
  margin: 0
  padding: 0
  font-family: "Roboto", "Helvetica", "Arial", sans-serif

.navigate-wrapper
  width: 100vw
  height: 64px

.container
  width: 100vw
  height: calc(100vh - 64px)
// 注册
.register-container
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  margin-top: 64px
  font-size: 20px
  font-weight: 700
// 公告
.notice-container
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  margin-top: 64px
  font-size: 20px
  font-weight: 700
  h2
    margin-bottom: 64px
// 首页
.homepage-container
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  margin-top: 64px
  font-size: 25px
.homepage-font
  color: #009688
  font-weight: 700
.not-existed
  display: none
.existed
  text-align: center
.homepage-no-container
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  font-size: 20px
// 登录页
.content-container
  flex-direction: column
  display: flex
  justify-content: flex-start
  align-items: center
  margin-top: 64px
  font-size: 20px
  .form-container
    display: flex
    align-items: center
    width: 100%
    flex-direction: column
// 加载
.loading-container
  position: absolute
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  z-index: 999
  // background-color: lightgray
