*
  margin: 0
  padding: 0
  font-family: "Roboto", "Helvetica", "Arial", sans-serif

.navigate-wrapper
  width: 100vw
  height: 64px

.container
  width: 100vw
  height: calc(100vh - 64px)
// 注册
.register-container
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  margin-top: 64px
  font-size: 20px
  font-weight: 700
// 公告
.notice-container
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  margin-top: 64px
  font-size: 30px
  font-weight: 700
// 首页
.homepage-container
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  margin-top: 64px
  font-size: 20px
  span
    color: lightblue
// 登录页
.content-container
  flex-direction: column
  display: flex
  justify-content: flex-start
  align-items: center
  margin-top: 64px
  font-size: 20px
  .form-container
    display: flex
    align-items: center
    width: 100%
    flex-direction: column
